<library path="src">
  <class name="ParamTuning" type="param_tuning.param_tuning.ParamTuning" base_class_type="rqt_gui_py::Plugin">
    <description>
    Tuning GUI for ROSflight autopilot parameters.
    </description>
    <qtgui>
      <group>
        <label>ROSflight</label>
        <icon type="theme">folder</icon>
      </group>
      <label>Autopilot Parameter Tuning</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>GUI for tuning autopilots.</statustip>
    </qtgui>
  </class>

  <class name="MapView" type="map_view.map_view.MapView" base_class_type="rqt_gui_py::Plugin">
    <description>
    A aerial map view for planning and monitoring missions in ROSflight.
    </description>
    <qtgui>
      <group>
        <label>ROSflight</label>
        <icon type="theme">folder</icon>
      </group>
      <label>Map View</label>
      <statustip>Map for monitoring and planning missions.</statustip>
    </qtgui>
  </class>
</library>
