[submodule "rosflight/include/mavlink/v1.0"]
	path = rosflight/include/rosflight/mavlink/v1.0
	url = https://github.com/rosflight/mavlink_c_library.git
[submodule "rosflight_firmware/firmware"]
	path = rosflight_firmware/firmware
	url = https://github.com/rosflight/firmware
[submodule "rosflight_msgs"]
	path = rosflight_msgs
	url = https://github.com/rosflight/rosflight_msgs.git
