name: ROS2 CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: Build on ros2 ${{ matrix.ros_distro }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    container:
      image: ${{ matrix.container }}
    strategy:
      fail-fast: false
      matrix:
        ros_distro: [ humble, jazzy ]
        include:
          - ros_distro: 'humble'
            os: ubuntu-22.04
            container: osrf/ros:humble-desktop
          - ros_distro: 'jazzy'
            os: ubuntu-24.04
            container: osrf/ros:jazzy-desktop
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          path: 'ros2_ws/src/rosflight'

      - name: Update system
        run: |
          sudo apt update
          sudo apt upgrade -y

      - name: Install dependencies
        run: |
          cd ros2_ws
          rosdep update
          rosdep install --from-paths ./ -i -y -r --rosdistro ${{ matrix.ros_distro }}

      - name: colcon build
        run: |
          source /opt/ros/${{ matrix.ros_distro }}/setup.bash
          cd ros2_ws
          colcon build --event-handlers console_direct+
